**/.cache/
.env*
.env.*
**/.git/
**/.hypothesis
**/.ipynb_checkpoints
**/.pytest_cache/
**/.python-version
**/.tox/
**/.venv/
*.pyc
*.swp
*.swo
**/docs/_build/
**/docs/_static/
**/docs/_templates/
**/.DS_Store
**.egg-info
**/.idea
**/.mypy_cache
**/.venv
**/.vscode
**/__pycache__
**/node_modules
**/pip-wheel-metadata
**/dist

